<section>
  <div class="container">
    <div class="carousel">
      <input type="radio" name="slides" checked="checked" id="slide-1">
      <input type="radio" name="slides" id="slide-2">
      <input type="radio" name="slides" id="slide-3">
      <input type="radio" name="slides" id="slide-4">
      <input type="radio" name="slides" id="slide-5">
      <input type="radio" name="slides" id="slide-6">
      <ul class="carousel__slides">
      <% @most_popular.each do |teapot| %>
        <li class="carousel__slide">
          <figure>
            <div>
              <%# <img src="https://picsum.photos/id/1041/800/450" alt=""> %>
              <% if teapot.images.attached? %>
                <%= cl_image_tag(teapot.images.first.key, width: 300, height: 300, crop: :fill) %>
              <% end %>
            </div>
            <figcaption>
              <h3>￥<%= teapot.price %></h3>
              <%= teapot.comment %>
              <span class="maker">Artist: <%= teapot.maker %></span>
            </figcaption>
          </figure>
        </li>
        <% end %>
      </ul>
      <ul class="carousel__thumbnails">
        <% @most_popular.each_with_index do |teapot, index| %>
          <li>
            <label for="slide-<%= index + 1 %>"><%= cl_image_tag(teapot.images.first.key, width: 150, height: 150, crop: :fill) %></label>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="all-teapots-container">
      <% @teapots.each do |teapot| %>
        <div class="teapot-card">
          <div class="card-picture"><%= cl_image_tag(teapot.images.first.key, width: 150, height: 150, crop: :fill) %></div>
          <div class="card-info-container">
            <p>Height: <%= teapot.height %></p>
            <p>Width: <%= teapot.width %></p>
            <p>Depth: <%= teapot.depth %></p>
            <p>Weight: <%= teapot.weight %></p>
          </div>
        </div>
      <% end %>
      <%= pagy_nav(@pagy).html_safe %>
    </div>
  </div>
</section>
