
<section>
  <div class="container">
    <h1 class="section-title">Most Popular</h1>
    <div class="carousel">
      <input type="radio" name="slides" checked="checked" id="slide-1">
      <input type="radio" name="slides" id="slide-2">
      <input type="radio" name="slides" id="slide-3">
      <input type="radio" name="slides" id="slide-4">
      <input type="radio" name="slides" id="slide-5">
      <input type="radio" name="slides" id="slide-6">
      <ul class="carousel__slides">
        <% @most_popular.each do |teapot| %>
          <li class="carousel__slide">
            <figure>
              <div>
                <% if teapot.images.attached? %>
                  <%= cl_image_tag(teapot.images.first.key, width: 300, height: 300, crop: :fill) %>
                <% end %>
              </div>
              <figcaption>
                <h1><%= teapot.formatted_price %></h1>
                <%= teapot.comment %>
                <span class="maker">Artist: <%= teapot.maker %></span>
              </figcaption>
            </figure>
          </li>
        <% end %>
      </ul>
      <ul class="carousel__thumbnails">
        <% @most_popular.each_with_index do |teapot, index| %>
          <li>
            <label for="slide-<%= index + 1 %>"><%= cl_image_tag(teapot.images.first.key, width: 150, height: 150, crop: :fill) %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="section-spacer">
  </div>
  <div class="container">
    <h1 class="section-title">Collection</h1>
    <div class="all-teapots-container">
      <% @teapots.each_with_index do |teapot, teapot_index| %>
        <%= link_to teapot_path(teapot), class: "teapot-link" do %>
          <div class="teapot-card-simple">
            <div  class="teapot-slides" data-controller="teapot-slides" data-action="mouseenter->teapot-slides#startSlideshow mouseleave->teapot-slides#stopSlideshow">
              <% teapot.images.each_with_index do |image, image_index| %>
                <% if image_index == 0 %>
                  <% key = teapot.images[image_index].key %>
                  <%= cl_image_tag(key, alt: "Teapot Image", class: "teapot-image", id: "slide-#{teapot_index + 1}-#{image_index + 1}", width: 300, height: 300, crop: :fill, data: { 'teapot-slides-target': 'slide' }) %>
                <% else %>
                  <% key = teapot.images[image_index].key %>
                  <%= cl_image_tag(key, alt: "Teapot Image", class: "teapot-image-hidden", id: "slide-#{teapot_index + 1}-#{image_index + 1}", width: 300, height: 300, crop: :fill, data: { 'teapot-slides-target': 'slide' }) %>
                <% end %>
              <% end %>
            </div>
            <div class="card-info-container">
              <p class="teapot-price-text"><%= teapot.formatted_price %></p>
              <p class="teapot-maker-text"><strong><%= teapot.maker %></strong></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <h2 class="paginator"><%= pagy_nav(@pagy).html_safe %></h2>
  </div>
</section>
