
<section>
  <div class="container">
    <h1 class="section-title">Most Popular</h1>
    <div class="carousel">
      <input type="radio" name="slides" checked="checked" id="slide-1">
      <input type="radio" name="slides" id="slide-2">
      <input type="radio" name="slides" id="slide-3">
      <input type="radio" name="slides" id="slide-4">
      <input type="radio" name="slides" id="slide-5">
      <input type="radio" name="slides" id="slide-6">
      <ul class="carousel__slides">
      <% @most_popular.each do |teapot| %>
        <li class="carousel__slide">
          <figure>
            <div>
              <%# <img src="https://picsum.photos/id/1041/800/450" alt=""> %>
              <% if teapot.images.attached? %>
                <%= cl_image_tag(teapot.images.first.key, width: 300, height: 300, crop: :fill) %>
              <% end %>
            </div>
            <figcaption>
              <h1><%= teapot.formatted_price %></h1>
              <%= teapot.comment %>
              <span class="maker">Artist: <%= teapot.maker %></span>
            </figcaption>
          </figure>
        </li>
        <% end %>
      </ul>
      <ul class="carousel__thumbnails">
        <% @most_popular.each_with_index do |teapot, index| %>
          <li>
            <label for="slide-<%= index + 1 %>"><%= cl_image_tag(teapot.images.first.key, width: 150, height: 150, crop: :fill) %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="section-spacer">
  </div>
  <div class="container">
    <h1 class="section-title">Collection</h1>
    <div class="all-teapots-container">
      <% @teapots.each do |teapot| %>
        <div class="teapot-card">
          <div class="card-picture">
            <%= cl_image_tag(teapot.images.first.key, width: 300, height: 300, crop: :fill) %>
          </div>
          <div class="card-info-container">
            <div class="visual-info-boxes-container">
              <div class="dimension-box">
                <%= image_tag "dimensions.png" %>
                <p class="teapot-height-text"><%= teapot.height / 10.to_f %> cm</p>
                <p class="teapot-width-text"><%= teapot.width / 10.to_f %> cm</p>
                <p class="teapot-depth-text"><%= teapot.depth / 10.to_f %> cm</p>
              </div>
              <div class="capacity-box"><%= image_tag "capacity.png" %>
                <p class="teapot-ccs-text"><%= teapot.ccs %> cc</p>
              </div>
              <div class="weight-box"><%= image_tag "weight.png" %>
                <p class="teapot-weight-text"><%= teapot.weight %> g</p>
              </div>
            </div>
            <div class="text-only-info-container">
              <p class="teapot-price-text"><%= teapot.formatted_price %></p>
              <p class="teapot-maker-text">Artist:   <strong><%= teapot.maker %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
      <h2 class="paginator"><%= pagy_nav(@pagy).html_safe %></h2>
    </div>
  </div>
</section>
