<section>
  <div class="container">
    <h1 class="section-title"><%= @teapot.maker %></h1>
    <div class="teapot-card">
      <div>
        <div class="carousel-two">
          <% @teapot.images.each_with_index do |image, index| %>
            <% if index == 0 %>
              <input type="radio" name="slides" checked="checked" id="slide-1">
            <% else %>
              <input type="radio" name="slides" id="slide-<%= index + 1 %>">
            <% end %>
          <% end %>
          <ul class="carousel_two__slides">
            <% @teapot.images.each do |image| %>
              <li class="carousel_two__slide">
                <figure>
                  <div>
                    <%= cl_image_tag(image.key, width: 500, height: 500, crop: :fill) %>
                  </div>
                </figure>
              </li>
            <% end %>
          </ul>
          <ul class="carousel_two__thumbnails">
            <% @teapot.images.each_with_index do |image, index| %>
              <li>
                <label for="slide-<%= index + 1 %>"><%= cl_image_tag(image.key, width: 68, height: 68, crop: :fill) %></label>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="card-info-container">
        <div class="visual-info-boxes-container">
          <div class="dimension-box">
            <%= image_tag "dimensions.png" %>
            <p class="teapot-height-text"><%= @teapot.height / 10.to_f %> cm</p>
            <p class="teapot-width-text"><%= @teapot.width / 10.to_f %> cm</p>
            <p class="teapot-depth-text"><%= @teapot.depth / 10.to_f %> cm</p>
          </div>
          <div class="capacity-box"><%= image_tag "capacity.png" %>
            <p class="teapot-ccs-text"><%= @teapot.ccs %> cc</p>
          </div>
          <div class="weight-box"><%= image_tag "weight.png" %>
            <p class="teapot-weight-text"><%= @teapot.weight %> g</p>
          </div>
          <div class="teapot-type-info">
            <p>Shape: <%= @teapot.shape %></p>
            <p>Firing: <%= @teapot.kilntype %></p>
          </div>
        </div>
        <div class="teapot-info-lower-half">
          <div class="comment-box">
            <p><%= @teapot.comment %></p>
          </div>
          <div class="text-only-info-container">
            <p class="teapot-price-text"><%= @teapot.formatted_price %></p>
          </div>
          <% if user_signed_in? %>
            <% if current_user.cart && (cart_item = current_user.cart.cart_items.find_by(teapot_id: @teapot.id)) %>
              <%= form_with(url: cart_item_path(cart_item), method: :delete, data: { controller: "remove-from-cart" }) do %>
                <%= hidden_field_tag 'teapot_id', @teapot.id %>
                <%= hidden_field_tag 'cart_item_id', cart_item.id %>
                <%= submit_tag 'Remove from Cart', class: 'small-action-button', data: { action: "click->remove-from-cart#remove" } %>
              <% end %>
            <% else %>
              <%= form_with(url: cart_items_path, method: :post, data: { controller: "add-to-cart" }) do %>
                <%= hidden_field_tag 'teapot_id', @teapot.id %>
                <%= submit_tag 'Add to Cart', class: 'small-action-button', data: { action: "click->add-to-cart#add" } %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to 'Log In', new_user_session_path, class: 'small-action-button' %>
            <p>You must be logged in to make purchases.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
