<!DOCTYPE html>
<html>
  <head>
    <title>Shinkouen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'pagy' %>
    <%= stylesheet_link_tag 'pagy' %>
  </head>

  <body class="black-wallpaper">
    <div class="navbar">
      <%= image_tag "shinkouen_logo_off_white.png" %>
      <div class="store-name-container">
        <h1 id="japanese-navbar-name">新香園茶舗</h1>
        <h3>Shinkouen Tea House</h3>
      </div>
      <div class="horizontal-spacer"></div>
      <div class="navbar-button-container">
        <ul class="nav-list">
          <li class="nav-item active">
            Teapots
          </li>
          <li class="nav-item">
            My Cart
          </li>
          <li class="nav-item">
            About Us
          </li>
        </ul>
      </div>
    </div>
    <div class="medium-white-line"></div>
    <div class="thin-white-line"></div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
